
:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.button[type="submit"] {
  margin-top: 16px; 
}

.login-wrapper {
  width: 40%;
}

.login-wrapper .example-full-width {
  width: 100%;
}